.button-group {
    display: flex;
    justify-content: space-between;
}

.update-btn {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.delete-btn {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

:root .btn-create {
    width: 250px;
    height: 60px;
}

.table-image {
    width: 400px; /* Adjust this value to your preferred width */
    height: auto; /* This maintains the aspect ratio */
}

:root .small-button {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

:root .pre {
    width: 200px;
    height: 50px;
}

:root .next {
    width: 200px;
    height: 50px;
}

:root .btn-search {
    width: 1000px;
    height: 50px;
    text-align: center;
}
