
    .button-group {
        display: flex;
        justify-content: space-between;
    }


    .update-btn {
        border-color: #007bff !important;
    }

:root .update-btn {
    border-color: #007bff !important;
    background-color: green;
    height: 60px;
    width: auto;
    text-align: center;
}


    .delete-btn {
        background-color: #dc3545 !important;
        border-color: #dc3545 !important;
    }


    .btn-create {
        width: 100%;
        height: 40px;
    }

    .table-image {
        width: 400px; /* Adjusted width to fit better */
        height: auto; /* Maintain aspect ratio */
    }

    .small-button {
        padding: 5px 10px;
        font-size: 12px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    :root .pre, :root .next {
        width: 15%;
        height: 50px;
    }

    .btn-search {
        width: 80%;
        height: 40px;
        text-align: center;
    }

    .btn-cannle {
        background-color: red !important;
    }

.btn-create {
    width: 100%;
    height: 40px;
}

.table-image {
    width: 500px; /* Adjusted width to fit better */
    height: 350px; /* Maintain aspect ratio */
}

:root .table td {
    vertical-align: middle;
}

:root table th {
    text-align: center;
}

.small-button {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

:root .pre, :root .next {
    width: 15%;
    height: 50px;
}

.btn-search {
    width: 80%;
    height: 40px;
    text-align: center;
}

.btn-cannle {
    background-color: red !important;
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050 !important;
}

:root .btn-primary {
    height: 60px;
    width: auto;
}

:root .btn-danger {
    height: 60px;
    width: auto;
}

:root .alert-danger {
    --bs-alert-color: red;
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
    font-size: 15px;
    margin-top: 7px;
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
}

.my-4 {
    font-size: 50px;
    text-align: center;
}
