
﻿/* WorkoutProgramsPage.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.programs-container {
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.search-filter-container {
    background-color: #dfe8ee;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.program-card {
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

    .program-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

.program-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.program-details {
    padding: 1rem;
}

.program-name {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.program-goal,
.program-level,
.program-type,
.program-priority,
.program-group,
.program-public,
.program-creator {
    margin: 5px 0;
}

.title-filter {
    font-size: 15px;
    margin-left: 5px;
}

.program-details p {
    margin: 0.25rem 0;
}

.form-control {
    margin-bottom: 1rem;
}

.title text-center strong {
    font-size: 35px;
}
