.equipments-container {
    width: 80%;
    margin: auto;
}

.equipments-title {
    font-size: 2em; 
    margin-bottom: 20px; 
}

.equipments-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .equipments-actions input {
        padding: 10px;
        border: 1px solid #000;
        border-radius: 4px;
    }

.equipments-table {
    width: 100%;
    border-collapse: collapse;
}

    .equipments-table th, .equipments-table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .equipments-table th {
        background-color: #f4f4f4;
    }

.create-button, .detail-button, .edit-button, .delete-button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-button {
    background-color: #4CAF50;
    color: white;
}

.detail-button {
    background-color: #2196F3;
    color: white;
}

.edit-button {
    background-color: #FFC107;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.page-button {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

    .page-button.active {
        background-color: #4CAF50;
        color: white;
    }

    .page-button:hover {
        background-color: #ddd;
    }

.error-text {
    color: red;
    margin-top: 10px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.upload-button {
    margin-top: 6px;
    border: 2px solid black;
}