.equipments-container {
    width: 80%;
    margin: auto;
}

.equipments-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.equipments-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .equipments-actions input {
        padding: 10px;
        border: 1px solid #000;
        border-radius: 4px;
    }

:root .table {
    width: 100%;
    border-collapse: collapse;
}

    :root .table td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        vertical-align: middle;
    }

    :root .table th {
        text-align: center;
        background-color: #f4f4f4;
        height: 55px;
        padding: 10px;
        border-bottom: 1px solid black;
    }

:root .create-buttone, .edit-buttone {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

:root .create-buttone {
    background-color: #1B6EC2;
    color: white;
    height: 60px;
    width: auto;
}

:root .edit-buttone {
    background-color: green;
    color: white;
    height: 38px;
    width: auto;
}

:root .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

:root .page-button {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 42.6px;
    height: 36.2px;
    margin: 0px 10px 0px 0px;
}

    :root .page-button.active {
        background-color: #4CAF50;
        color: white;
    }

:root .error-text {
    color: red;
    margin-top: 10px;
}


:root .alert-danger {
    --bs-alert-color: red;
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
    font-size: 15px;
    margin-top: 7px;
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
}

:root .my-4 {
    font-size: 50px;
    text-align: center;
}

:root .img {
    width: 200%; /* Chiều rộng 100% của khung cha */
    max-width: 200px; /* Chiều rộng tối đa */
    height: auto; /* Chiều cao tự động để duy trì tỉ lệ */
    object-fit: contain; /* Đảm bảo ảnh không bị méo và vừa với khung */
    padding: 5px; /* Thêm khoảng cách giữa ảnh và khung */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước tổng của khung ảnh */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upload-button {
    margin-top: 6px;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 4px;
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050 !important;
}

:root .btn-search {
    width: 80%;
    height: 40px;
    text-align: center;
    border: 1px solid black;
    font-size: 30px;
}

:root .modal-content {
    background-color: #fefefe;
    /* margin: 15% auto;*/
    width: 500px;
    padding: 5px;
    border: 1px solid #888;
    /* width: 100%;*/
    max-width: 500px;
    max-height: MAX-CONTENT;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

:root .btn-primary {
    height: 60px;
    width: auto;
}

:root .btn-danger {
    height: 38px;
    width: auto;
}

/*.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .pagination-container .first-page-button,
    .pagination-container .prev-page-button,
    .pagination-container .next-page-button,
    .pagination-container .last-page-button {
        margin: 0 5px;
        background-color: #007bff;*/ /* Primary color */
/*border-color: #007bff;
        color: white;
        width: 47px;
        height: 47px;
    }

    .pagination-container .page-button {
        margin: 0 5px;
        background-color: #6c757d;*/ /* Secondary color */
/*border-color: #6c757d;
        color: white;
        width: 47px;
        height: 47px;
    }

        .pagination-container .page-button.active {
            background-color: green;
            color: white;
            border-color: green;
            width: 47px;
            height: 47px;
        }

    :root .pagination-container .page-button:hover,
    .pagination-container .first-page-button:hover,
    .pagination-container .prev-page-button:hover,
    .pagination-container .next-page-button:hover,
    .pagination-container .last-page-button:hover {
        background-color: #0056b3;
        border-color: #004085;
        width: 47px;
        height: 47px;
    }


        .pagination-container .page-button.active:hover {
            background-color: darkgreen;
            border-color: darkgreen;
        }*/
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.page-buttonq.active {
    background-color: #007bff;
    color: #fff;
}
