.logged-exercises {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

    .logged-exercises h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .logged-exercises table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .logged-exercises th, .logged-exercises td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .logged-exercises th {
        background-color: #f2f2f2;
        text-align: left;
    }

    .logged-exercises tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .logged-exercises tr:hover {
        background-color: #ddd;
    }


.exercise-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

    .exercise-item:hover {
        background-color: #f1f1f1; /* Light gray background on hover */
    }

.exercise-info {
    display: flex;
    justify-content: space-between;
}

.info-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #007bff; /* Bootstrap blue for the button */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

    .info-button:hover {
        color: #0056b3; /* Darker blue on hover */
    }
