.roles-list-container {
    margin-top: 20px;
}

.roles-list-header {
    margin-bottom: 20px;
}


.create-role-button {
    background-color: #1B6EC2;
    color: white;
    height: 60px;
    width: auto;
}
.update-role-button {
    background-color: green;
    color: white;
    height: 60px;
    width: auto;
}
.cancel-role-button {
    height: 60px;
    width: auto;
}

.roles-table th,
.roles-table td {
    text-align: center;
    vertical-align: middle;
}

:root .my-title {
    font-size: 50px;
    text-align: center;
}