.roles-list-container {
    margin-top: 20px;
}

.roles-list-header {
    margin-bottom: 20px;
}


.create-role-button {
    background-color: #1B6EC2;
    color: white;
    height: 60px;
    width: auto;
}


:root .btn-primary {
    height: 38px;
    width: auto;
}

:root .my-4 {
    font-size: 50px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

    :root .table th, .table td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

:root .table th {
    background-color: #CC99CC;
}

:root .action-buttone {
    background-color: green;
    color: white;
    height: 60px;
    width: auto;
}
.cancel-role-button {
    height: 60px;
    width: auto;
}

.roles-table th,
.roles-table td {
    text-align: center;
    vertical-align: middle;
}

:root .my-title {
    font-size: 50px;
    text-align: center;
}

:root .alert-danger {
    --bs-alert-color: red;
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
    font-size: 15px;
    margin-top: 7px;
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
}
